@using Section01.Classes; 

@{
    ViewData["Title"] = "ListCountries"; 
    
    string[] someCountries = { "Colombia", "Ecuador", "Pánama", "Vezuela" };
    
    List<AmbassadorClass> ambassadors = new List<AmbassadorClass> 
    { 
        new AmbassadorClass 
        { 
            Name = "David Ferrer", Country = "República de Colombia" 
        },
        new AmbassadorClass 
        { 
            Name = "Jackie Chan", Country = "China" 
        } 
    };
}

<h1>Listado de Países</h1>

<h3>Algunos países de Sudamérica</h3>

<ul>
    @foreach (string country in someCountries)
    {
      <li>@country.ToUpper()</li>
    }
</ul>

<h3>Algunos embajadores:</h3>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>País</th>
    </tr>
  </thead>

  <tbody>
        @foreach (AmbassadorClass ambassador in ambassadors)
        {
        <tr>
          <td>@ambassador.Name</td>
          <td>@ambassador.Country</td>
        </tr>
        }
  </tbody>
</table>
